

{% load ep_forms %}

{% if field.field.widget.input_type == "checkbox" %}
    {% ep_checkbox field %}

{% elif field.field.widget.input_type == "email" %}
    {% ep_email_input field %}

{% elif field.field.widget.input_type == "tel" %}
    {% ep_phone_input field %}

{% elif field.field.widget.input_type == "text" %}
    {% ep_text_input field %}

{% else %}
    <div class="mb-4">

        <label
            for="{{ field.id_for_label }}"
            class="mb-1 block text-sm font-normal text-gray-800 dark:text-neutral-200"
        >
            {{ field.label }}

            {% if field.field.required %}
                <span
                    class="text-red-600 dark:text-red-400"
                    aria-hidden="true"
                >
                    *
                </span>

                <span class="sr-only">
                    Champ obligatoire
                </span>
            {% endif %}
        </label>

        {% ep_widget field %}

        {% if field.help_text %}
            <p
                id="{{ field.auto_id }}_help"
                class="mt-1 text-sm text-gray-500 dark:text-neutral-400"
            >
                {{ field.help_text }}
            </p>
        {% endif %}

        {% if field.errors %}
            <div
                id="{{ field.auto_id }}_errors"
                class="mt-2 text-sm text-red-600 dark:text-red-400"
                role="alert"
            >
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endif %}