

{% extends "base.html" %}

{% load ep_form_fields %}

{% block content %}

<h1>
    {% if object %}
        Modifier une société
    {% else %}
        Nouvelle société
    {% endif %}
</h1>

<form method="post">

    {% csrf_token %}

    {% for field in form %}
        {% render_ep_field field %}
    {% endfor %}

    <div class="mt-6 flex gap-2">

        <button type="submit">
            Enregistrer
        </button>

        <a href="{% url 'companies:list' %}">
            Annuler
        </a>

    </div>

</form>

{% endblock %}