

{% load ep_lists %}

<thead class="ep-list-header">

    <tr>

        {% for column in list_view.columns %}

            <th
                scope="col"
                class="
                    ep-list-header-cell
                    {{ column|column_width_class }}
                    {{ column|column_alignment_class }}
                "
            >
                {% if column.definition.sortable %}

                    {% if column.sorted and not column.descending %}

                        <a
                            href="{% querystring sort=column.identifier direction='desc' page=1 %}"
                            class="ep-list-sort-link"
                            title="Trier {{ column.label }} par ordre décroissant"
                            aria-label="Trier {{ column.label }} par ordre décroissant"
                        >
                            <span>
                                {{ column.label }}
                            </span>

                            <span
                                class="ep-list-sort-indicator"
                                aria-hidden="true"
                            >
                                ▲
                            </span>
                        </a>

                    {% else %}

                        <a
                            href="{% querystring sort=column.identifier direction='asc' page=1 %}"
                            class="ep-list-sort-link"
                            title="Trier {{ column.label }} par ordre croissant"
                            aria-label="Trier {{ column.label }} par ordre croissant"
                        >
                            <span>
                                {{ column.label }}
                            </span>

                            {% if column.sorted %}

                                <span
                                    class="ep-list-sort-indicator"
                                    aria-hidden="true"
                                >
                                    ▼
                                </span>

                            {% endif %}
                        </a>

                    {% endif %}

                {% else %}

                    <span>
                        {{ column.label }}
                    </span>

                {% endif %}

            </th>

        {% endfor %}

        {% if row_actions_template %}

            <th
                scope="col"
                class="ep-list-header-cell ep-list-actions-header"
            >
                Actions
            </th>

        {% endif %}

    </tr>

</thead>