

{% if list_view.pagination.total_pages > 1 %}

    <nav
        class="ep-list-pagination"
        aria-label="Pagination"
    >

        <div class="ep-list-pagination-side">

            {% if list_view.pagination.has_previous %}
                <a
                    href="?page={{ list_view.pagination.previous_page }}"
                    class="ep-list-pagination-button"
                >
                    Page précédente
                </a>
            {% endif %}

        </div>


        <span class="ep-list-pagination-status">
            Page {{ list_view.pagination.page }}
            sur {{ list_view.pagination.total_pages }}
        </span>


        <div class="ep-list-pagination-side ep-list-pagination-side-end">

            {% if list_view.pagination.has_next %}
                <a
                    href="?page={{ list_view.pagination.next_page }}"
                    class="ep-list-pagination-button"
                >
                    Page suivante
                </a>
            {% endif %}

        </div>

    </nav>

{% endif %}