

{% load ep_lists %}

<tr
    class="
        ep-list-row
        {{ row.css_class }}
    "
>

    {% for cell in row.cells %}

        <td
            class="
                ep-list-cell
                {{ cell.column|column_width_class }}
                {{ cell.column|column_alignment_class }}

                {% if cell.column.truncate %}
                    ep-list-cell-truncate
                {% endif %}
            "
            {% if cell.column.truncate and cell.display_value %}
                title="{{ cell.display_value }}"
            {% endif %}
        >
            {{ cell.display_value }}
        </td>

    {% endfor %}


    {% if row_actions_template %}

        <td class="ep-list-actions-cell">
            {% include row_actions_template %}
        </td>

    {% endif %}

</tr>