

{% if button.is_link %}

    <a
        {% if not button.disabled %}
            href="{{ button.url }}"
        {% endif %}
        class="
            ep-button
            ep-button-{{ button.action.value }}
            {% if button.disabled %}
                ep-button-disabled
            {% endif %}
        "
        {% if button.disabled %}
            aria-disabled="true"
            tabindex="-1"
        {% endif %}
        {% if button.confirm %}
            onclick="return window.confirm('{{ button.confirm|escapejs }}');"
        {% endif %}
    >
        {% if button.icon %}
            <i
                data-lucide="{{ button.icon }}"
                class="ep-button-icon"
                aria-hidden="true"
            ></i>
        {% endif %}

        <span class="ep-button-label">
            {{ button.label }}
        </span>
    </a>

{% else %}

    <button
        type="{{ button.button_type.value }}"
        class="
            ep-button
            ep-button-{{ button.action.value }}
        "
        {% if button.disabled %}
            disabled
        {% endif %}
        {% if button.confirm %}
            onclick="return window.confirm('{{ button.confirm|escapejs }}');"
        {% endif %}
    >
        {% if button.icon %}
            <i
                data-lucide="{{ button.icon }}"
                class="ep-button-icon"
                aria-hidden="true"
            ></i>
        {% endif %}

        <span class="ep-button-label">
            {{ button.label }}
        </span>
    </button>

{% endif %}