

<div
    class="mb-3 flex items-center
           justify-between gap-4"
>
    <div class="min-w-0">

        <h1
            class="truncate text-xl font-semibold
                   text-axcio-text
                   dark:text-axcio-text-dark"
        >
            Documentation
        </h1>

        <p
            class="truncate text-sm
                   text-axcio-text-muted
                   dark:text-axcio-text-muted-dark"
        >
            {{ project.reference }}
            —
            {{ project.name }}
        </p>

    </div>
</div>