

{% extends "layout/base.html" %}

{% block title %}
    Licences — Easy Projet
{% endblock %}

{% block content %}

    <div class="ep-page">

        {% if can_create_license %}
            {% include "edf/page/header.html" with page_title="Licences" page_action_label="Nouvelle licence" page_action_url=license_create_url page_action_icon="plus" %}
        {% else %}
            {% include "edf/page/header.html" with page_title="Licences" %}
        {% endif %}

        {% include "edf/list/list.html" %}

    </div>

{% endblock %}