

{% load ep_buttons %}

<div class="ep-form-actions">

    {% if not form_view.is_readonly %}

        {% ep_button label="Enregistrer" action="execute" button_type="submit" icon="save" %}

        {% if form_view.cancel_url %}
            {% ep_button label="Annuler" action="cancel" url=form_view.cancel_url icon="x" %}
        {% endif %}

    {% elif form_view.cancel_url %}

        {% ep_button label="Retour" action="cancel" url=form_view.cancel_url icon="arrow-left" %}

    {% endif %}

</div>