

{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}Easy Projet{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'dist/output.css' %}"
    >
</head>

<body class="min-h-screen bg-gray-50 text-gray-900
             dark:bg-neutral-950 dark:text-neutral-100">

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>