

<div class="ep-list-row-actions">

    <a
        href="{% url 'projects:workspace' row.source_object.pk %}"
        class="ep-list-row-action"
        title="Ouvrir le projet"
        aria-label="Ouvrir l'environnement du projet"
    >
        <i
            data-lucide="folder-open"
            class="ep-list-row-action-icon"
            aria-hidden="true"
        ></i>
    </a>

    <a
        href="{% url 'projects:update' row.source_object.pk %}?next={% url 'projects:list' %}"
        class="ep-list-row-action"
        title="Modifier"
        aria-label="Modifier le projet"
    >
        <i
            data-lucide="pen"
            class="ep-list-row-action-icon"
            aria-hidden="true"
        ></i>
    </a>

</div>