

<div
    class="overflow-hidden rounded-lg border border-gray-200
           bg-white shadow-sm
           dark:border-neutral-700 dark:bg-neutral-900"
>
    {% if toolbar %}
        {% include "components/lists/ep_toolbar.html" %}
    {% endif %}

    <div class="overflow-x-auto">
        <table
            class="min-w-full divide-y divide-gray-200
                   dark:divide-neutral-700"
        >
            {% include "components/lists/ep_header.html" %}

            {% include "components/lists/ep_body.html" %}
        </table>
    </div>

    {% if list.pagination %}
        {% include "components/lists/ep_pagination.html" %}
    {% endif %}
</div>